@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
.section_2 .checkout .information input:not(input[type="checkbox"]) {
  border: 1px solid #e7eaf4;
  border-radius: 5px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  height: 100vh;
  font-size: small;
  font-family: 'Outfit', sans-serif;
}

.section_1 {
  width: 50vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebeef7;
}

.section_1 .logo {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column: 3;
      grid-column-start: 3;
  margin-top: 20px;
}

.section_1 .receipt {
  width: 25vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.section_1 .receipt .amount {
  margin: 10px 10px 10px 10px;
  margin-top: 10px;
}

.section_1 .receipt .amount p:nth-child(1) {
  color: grey;
}

.section_1 .receipt .amount p:nth-child(2) {
  font-size: 2rem;
}

.section_1 .receipt .item_name {
  background-color: #3a6bfb;
  border-radius: 5px;
  color: white;
  margin: 10px 10px 10px 10px;
  padding: 20px;
}

.section_1 .receipt .item_name h2 {
  padding: 5px;
}

.section_1 .receipt .item_name p {
  padding: 5px;
}

.section_1 table {
  margin: 10px 10px 10px 10px;
}

.section_1 table caption {
  text-align: left;
  font-weight: bold;
}

.section_1 table td {
  text-align: left;
  padding: 5px;
  padding-left: 0;
}

.section_1 table tr:last-child {
  color: blue;
}

.section_1 table tr:first-child span {
  font-size: small;
  color: grey;
}

.section_1 .footer_receipt {
  background-color: #ebeef7;
  margin: 10px 10px 10px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  font-size: small;
}

.section_1 .footer_receipt p:last-child {
  color: grey;
}

.section_2 {
  width: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.section_2 .checkout {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  vertical-align: middle;
  -ms-grid-column: 2;
      grid-column-start: 2;
  padding: 10px;
}

.section_2 .checkout .checkout_steps {
  border-bottom: 1px solid lightgrey;
}

.section_2 .checkout .checkout_steps span {
  background-color: #3a6bfb;
  display: inline-block;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%;
  color: white;
}

.section_2 .checkout h2 {
  padding: 25px 0px 15px 0px;
}

.section_2 .checkout ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_2 .checkout li {
  padding: 1rem 0 1rem 0;
  font-weight: bold;
}

.section_2 .checkout .information input:not(input[type="checkbox"]) {
  height: 2rem;
  margin: 5px 0px 15px 0px;
  width: 100%;
}

.section_2 .checkout .information .required::after {
  content: " *";
  color: #3a6bfb;
}

.section_2 .checkout .information input::-webkit-input-placeholder {
  color: grey;
  padding-left: 1rem;
}

.section_2 .checkout .information input:-ms-input-placeholder {
  color: grey;
  padding-left: 1rem;
}

.section_2 .checkout .information input::-ms-input-placeholder {
  color: grey;
  padding-left: 1rem;
}

.section_2 .checkout .information input::placeholder {
  color: grey;
  padding-left: 1rem;
}

.section_2 .checkout .information input[type=text]:focus, .section_2 .checkout .information input[type=tel]:focus {
  outline: none;
  border: 1px solid #3a6bfb;
}

.section_2 .checkout .information .checkbox {
  border-radius: 5px 5px 0 0;
  border: 1px solid #e7eaf4;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_2 .checkout .information .checkbox input {
  margin-right: 10px;
}

.section_2 .checkout .information .checkbox label {
  width: 100%;
}

.section_2 .checkout .information .checkbox span {
  color: grey;
}

.section_2 .checkout .information p {
  color: grey;
  border: 1px solid #e7eaf4;
  border-top: none;
  padding-left: 10px;
  border-radius: 0 0 5px 5px;
}

.section_2 .checkout .information .no_border {
  border: none;
}
/*# sourceMappingURL=main.css.map */