---
import {getCollection } from 'astro:content';
import TableOfContent from '../../components/TableOfContent/index.astro';
import About from '../about.astro';
/**
 * Get all the routes possible
 */

export async function getStaticPaths(){

	const blogEntries =  await getCollection('blog');
	
	return  blogEntries.map((entry)=>{
		return {
			params: {slug: entry.slug },props: {entry}
		}
	})
}
const { entry } = Astro.props;
const {Content, headings } = await entry.render();
---

<TableOfContent  headings={headings} />
<div class="px-4 md:px-0">
<article class="prose font-nextjs leading-[150%] mx-auto">
	<Content/>
</article>
</div>