---
const { headings } = Astro.props;
console.log(headings);

const generateHeadingsTree = (headings) =>{
    const tree = [];
    const currentDepth = 0;
    headings.forEach((heading)=>{
        if(heading.depth == 1){}
    })
}
---
<h1>Table Of Content</h1>
<ul>
    
</ul>