<!DOCTYPE html>
<html>
  <head>
    <title>Not Found</title>
  </head>
  <body class="flex justify-center items-center min-h-screen bg-main px-5">
    <div class="">
      <h1
        class="text-violet-500 text-4xl md:text-[64px] font-sourceCodePro font-bold"
      >
        404
      </h1>
    </div>
  </body>
</html>
