<!DOCTYPE html>
<html>
    <head>
        <title>Not Found</title>
    </head>
    <body class="flex justify-center items-center min-h-screen bg-neutral-800 ">
        <div class="">
<pre class="text-[48px] font-bold text-rose-500">
|_|/ \|_|
  |\_/  |
</pre>
        </div>
    </body>
</html>