---
import {asciiArt} from '/ascii.svg'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nihan Mubashshir</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="max-w-screen max-h-screen bg-[#212121]">
		<section class=" xl:max-w-[1160px] grid grid-cols-12 gap-5 mx-auto h-full">
			<div class="col-span-4 md:flex justify-end items-center">
				<h1 class="text-white text-4xl">
					Note to self.
				</h1>

			</div>
			<div class="col-span-8 ">
				<div class="flex py-9 items-center justify-center overflow-hidden">
					<img src="/ascii.svg" class="object-fit w-full h-full">
				</div>

			</div>
			

		</section>
		
	</body>
</html>
