---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nihan Mubashshir</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="w-screen h-screen bg-[#212121]">
		<section class="flex justify-center items-center xl:max-w-[1160px] md:grid grid-cols-12 gap-5 mx-auto h-full">
			<div class="col-span-4 md:flex justify-center items-end flex-col">
				<h1 class="text-white text-4xl">
					Note to self.
				</h1>
				<a href="/blog" class="text-white hover:underline underline-offset-4">Docs</a>

			</div>
			<div class="hidden md:flex col-span-8  justify-center items-center">
				<div class=" py-6 overflow-hidden max-w-[500px] mx-auto">
					<img src="/ascii.svg" class="object-contain">
				</div>

			</div>
			

		</section>
		
	</body>
</html>
