<div class="min-h-[49px] w-full container">
  <header
    class="min-h-[49px] fixed top-0 w-full z-40 border-scale-300 border-b backdrop-blur-sm transition-opacity !opacity-100 !border-[#e0d2f430]"
  >
    <div
      class="w-full px-5 min-h-[49px] max-w-5xl justify-end mx-auto flex items-center"
    >
      <a
        class="block h-[14px] md:h-[16px] border-b-[1px] border-[transparent] overflow-hidden hover:border-violet-500 transition-colors"
        href="https://github.com/nihanmubashshir"
        target="_blank"
      >
        <img
          src="/icon-github.png"
          alt="github"
          class="w-full h-full object-contain"
        />
      </a>
    </div>
  </header>
</div>
