---
import { getCollection } from "astro:content";
import List from '../../components/List.astro';
const d = await getCollection("projects");

const linkList = d.map((entry) => {
  return {
    url: `${Astro.url + entry.slug}`,
    title: entry.data?.title || entry.slug
  }
});

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
  </head>
  <body class=" font-sourceCodePro ">
    <section class=" min-h-screen mx-auto max-w-[1440px] px-5 md:px-14 py-5 md:py-9">
      <div class="font-nextJs mx-auto w-fit">
       <h1 class="text-xl mb-4">
        Project logs:
       </h1>
        <ul class=" w-fit p-3 rounded-sm bg-[#232323]">
          {
            linkList.map((link) => {
              return <li class="rounded-sm"><a href={link.url} class="link link-hover decoration-accent ">{link.title}</a></li>;
            })
          }
        </ul>
      
      </div>
    </section>
  </body>
</html>
