@import "variable";
@import "global";
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');



*{
    // border:1px solid grey;
    margin:0px;
    padding:0px;
}
body {
    background-color: white;
    display:flex;
    flex-flow:row;
    height: 100vh;
    font-size: small;
    font-family: 'Outfit', sans-serif;
}

.section_1{
    width:50vw;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    background-color: $background;
.logo {
    align-self: start;
    grid-column-start: 3;
    margin-top:20px;
}

$margin_internal : 10px 10px 10px 10px;
.receipt {
    width:25vw;
    height:70vh;
    display:flex;
    flex-flow:column;
    justify-content: space-around;
   
    background-color: white;
    border-radius: 5px;
    padding:10px;
    grid-column-start:4;
    

    .amount {
       margin:$margin_internal;
       margin-top: 10px;

        p:nth-child(1){
            color:grey;
        }
        p:nth-child(2){
            font-size: 2rem;;
        }
    }
    
    .item_name {
        background-color: $theme_color;
   
        border-radius:5px;
        color:white;
        margin:$margin_internal;
        padding:20px;
    
        h2{
          
            padding:5px;
          
        
        }
        p{
          
            padding:5px;
        }
    }
    

}

table {
    margin:$margin_internal;

    caption{
        text-align: left;
        font-weight:bold;
    }

    td{
        text-align: left;
        padding: 5px;
        padding-left: 0;
        
    }

    tr:last-child{
        color:blue;
    }
    tr:first-child{

        span{
            font-size: small;
            color:grey
        }
    }
}

.footer_receipt {
    background-color: $background;
    margin:$margin_internal;
    margin-bottom: 20px;
    border-radius: 5px;
    padding:5px;
    font-size: small;

    p:last-child{
        color:grey
    }


}

}
// section 2


.section_2 {
    width:50vw;
    display:grid;
    grid-template-columns: repeat(4,1fr);

    .checkout{
    
        width:25vw;
  
        display: flex;
        flex-flow:column;
        justify-content: space-around;
        vertical-align: middle;
        grid-column-start: 2;
        padding:10px;


        .checkout_steps{
            border-bottom: 1px solid lightgrey;
            span{
                background-color:$theme_color;
                display: inline-block;
                width:2rem;
                line-height:2rem;
                text-align: center;
                border-radius: 50%;
                color:white;
            }
        }

        h2{
            padding:25px 0px 15px 0px;
        }
        // height:;
     

         ul {
        list-style-type: none;
        display:flex;
        flex-flow:row;
        justify-content: space-between;

         }
         li {
             padding:1rem 0 1rem 0;
             font-weight: bold;
         }

         .information {
            

            
            input:not(input[type="checkbox"]){
                height: 2rem;
                margin:5px 0px 15px 0px;
                width:100%;
                @extend %borders_of_form;
            }
            .required::after{
                content:" *";
                color:$theme_color;  
            }
            input::placeholder{
                color:grey;
                padding-left:1rem;
            }

            input[type=text]:focus,input[type=tel]:focus {
                outline:none;
                border: 1px solid $theme_color;
              }

            .checkbox{
                border-radius:5px 5px 0 0;
                border:1px solid #e7eaf4;
                padding:10px;
                display: flex;
                flex-flow:row;
                align-items: center;
                input{
                    margin-right:10px;
                }
                label{
                    width: 100%;
                
                }
                span{
                    color:grey;
                }

                
            }
            p{
                color:grey;
                border:1px solid #e7eaf4;
                border-top:none;
                padding-left: 10px;
                border-radius: 0 0 5px 5px;
            }
            .no_border{
                border:none;
            }

         }  
}

    
}