---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body class="bg-main">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
